@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    margin-top: 10px;
    font-size: 1.2em;
}

.events {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.event-card {
    position: relative;
    margin: 10px;
    text-align: center;
    width: auto;
}

.event-card img {
    width: 417px;
    height: 354px;
    border-radius: 10px;
}

.event-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, white 30%, transparent);
    color: black;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.event-text h3 {
    margin: 0;
    font-weight: 500;
    font-size: 21.48px;
    text-align: left;
}

.history {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.history-item {
    margin: 10px;
    text-align: center;
}

.history-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.history-item p {
    margin-top: 10px;
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .events, .history {
        flex-direction: column;
    }
}
